.card {
  width: 91% !important;
  overflow: hidden;
  border-radius: 10px;
}
p {
  margin: 0;
  padding: 2px;
}
.cursor {
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0 5px rgb(206, 204, 204);
}
